{
	"agent": {
		"metrics_collection_interval": 60,
		"region": "us-west-2",
		"logfile": "c:\\ProgramData\\Amazon\\CloudWatchAgent\\Logs\\amazon-cloudwatch-agent.log",
		"debug": false,
		"run_as_user": "cwagent"
	},
	"metrics": {
		"append_dimensions": {
			"AutoScalingGroupName": "${aws:AutoScalingGroupName}",
			"ImageId": "${aws:ImageId}",
			"InstanceId": "${aws:InstanceId}",
			"InstanceType": "${aws:InstanceType}"
		},
		"metrics_collected": {
			"LogicalDisk": {
				"measurement": [
					"% Free Space"
				],
				"metrics_collection_interval": 60,
				"resources": [
					"*"
				]
			},
			"Memory": {
				"measurement": [
					"% Committed Bytes In Use"
				],
				"metrics_collection_interval": 60
			},
			"Paging File": {
				"measurement": [
					"% Usage"
				],
				"metrics_collection_interval": 60,
				"resources": [
					"*"
				]
			},
			"PhysicalDisk": {
				"measurement": [
					"% Disk Time",
					"Disk Write Bytes/sec",
					"Disk Read Bytes/sec",
					"Disk Writes/sec",
					"Disk Reads/sec"
				],
				"metrics_collection_interval": 60,
				"resources": [
					"*"
				]
			},
			"Processor": {
				"measurement": [
					"% User Time",
					"% Idle Time",
					"% Interrupt Time"
				],
				"metrics_collection_interval": 60,
				"resources": [
					"*"
				]
			},
			"TCPv4": {
				"measurement": [
					"Connections Established"
				],
				"metrics_collection_interval": 60
			},
			"TCPv6": {
				"measurement": [
					"Connections Established"
				],
				"metrics_collection_interval": 60
			},
			"statsd": {
				"metrics_aggregation_interval": 60,
				"metrics_collection_interval": 10,
				"service_address": ":8125"
			}
		}
	},
	"logs": {
		"logs_collected": {
			"files": {
				"collect_list": [
					{
						"file_path": "c:\\ProgramData\\Amazon\\EC2-Windows\\Launch\\Log\\UserdataExecution.log",
						"log_group_name": "/galaxy/terra/AMAZON",
						"log_stream_name": "{instance_id}/EC2/UserdataExecution"
					},
					{
						"file_path": "c:\\ProgramData\\Amazon\\AmazonCloudWatchAgent\\Logs\\amazon-cloudwatch-agent.log",
						"log_group_name": "/galaxy/terra/AMAZON",
						"log_stream_name": "{instance_id}/CW/amazon-cloudwatch-agent"
					},
					{
						"file_path": "c:\\ProgramData\\Amazon\\SSM\\Logs\\amazon-ssm-agent.log",
						"log_group_name": "/galaxy/terra/AMAZON",
						"log_stream_name": "{instance_id}/SSM/amazon-ssm-agent"
					},
					{
						"file_path": "c:\\ProgramData\\Amazon\\SSM\\Logs\\errors.log",
						"log_group_name": "/galaxy/terra/AMAZON",
						"log_stream_name": "{instance_id}/SSM/errors"
					},
					{
						"file_path": "c:\\ProgramData\\NVIDIA\\DisplaySessionContainer*.log*",
						"log_group_name": "/galaxy/terra/NVIDIA",
						"log_stream_name": "{instance_id}/DisplaySessionContainer"
					},
					{
						"file_path": "c:\\ProgramData\\NVIDIA\\NVDisplayContainerWatchdog.log*",
						"log_group_name": "/galaxy/terra/NVIDIA",
						"log_stream_name": "{instance_id}/NVDisplayContainerWatchdog"
					},
					{
						"file_path": "c:\\ProgramData\\NVIDIA\\NVDisplay.ContainerLocalSystem*.log*",
						"log_group_name": "/galaxy/terra/NVIDIA",
						"log_stream_name": "{instance_id}/NVDisplay.ContainerLocalSystem"
					},
					{
						"file_path": "c:\\ProgramData\\NVIDIA\\NvContainerRecoveryNVDisplay.ContainerLocalSystem*.log*",
						"log_group_name": "/galaxy/terra/NVIDIA",
						"log_stream_name": "{instance_id}/NvContainerRecoveryNVDisplay.ContainerLocalSystem"
					},
					{
						"file_path": "c:\\Users\\Public\\Documents\\NvidiaLogging\\Log.NVDisplay.Container.exe.log",
						"log_group_name": "/galaxy/terra/NVIDIA",
						"log_stream_name": "{instance_id}/Log.NVDisplay.Container.exe"
					}
				]
			},
			"windows_events": {
				"collect_list": [
					{
						"event_name": "System",
						"event_levels": [
							"INFORMATION",
							"ERROR"
						],
						"log_group_name": "/galaxy/terra/WINDOWS",
						"log_stream_name": "{instance_id}/System"
					}
				]
			}
		},
		"log_stream_name": "my_log_stream_name"
	}
}
